.order-table{   
	border-collapse: collapse;
}

.order-table-header{
	text-align: left;
	background: none repeat scroll 0 0 #E5E5E5;
	border-top: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
	padding: 20px;
}

.order-table-odd-row{
	text-align: left;
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #BBBBBB;
	padding: 20px;
}

.order-table-even-row{
	text-align: left;
	background: none repeat scroll 0 0 #F9F9F9;
	border-bottom: 1px solid #BBBBBB;
	padding: 20px;
}
